@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    color: #3a3a3a;
    --orange: #EB6C27;
    --white: #FFFFFF;
}

* {
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

.orange {
    color: var(--orange);
}

/* 
========================================== 
navbar
========================================== 
*/
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 2em;
}

.topnav-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topnav .links {
    display: inline-flex;
    list-style: none;
    margin: 0;
}

.topnav .links a {
    text-align: center;
    color: #888888;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    font-weight: 500;
    font-size: 1em;
    line-height: 22px;
    text-transform: uppercase;
}

.topnav .icon {
    display: none;
}

.topnav .icon p {
    margin: 0;
}

@media screen and (max-width: 1050px) {
    .topnav .links a {
        font-size: 1.3vw;
    }
}

.topnav .links a.active {
    color: white;
    background-color: var(--orange);
}

.topnav .lg {
    content: url(../media/logo.png);
    padding: 0.5em 0;
}

@media screen and (max-width: 850px) {
    .topnav {
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
    }

    .topnav-info {
        padding: 0.5em;
    }

    .topnav .links::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        margin-right: cacl((46px - 25px) /2);
        transform: translateY(-100%);
        border: 12.5px solid white;
        border-bottom-color: var(--orange);
        border-bottom-style: solid;
        border-bottom-width: 25px;
        border-top: none;
    }

    .topnav .links {
        flex-direction: column;
        background-color: var(--orange);
        padding: 1em;
        display: none;
    }

    .topnav .links a {
        color: white;
        text-decoration: underline;
        font-size: 16px;
        padding: 1.5em;
    }

    .topnav .icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.5em;
    }

    .topnav .lg {
        content: url(../media/logo.png);
        height: 3.2em;
    }
}


/*==========================================*/



/* 
========================================== 
header
========================================== 
*/
header {
    background-image: radial-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../media/pageheader-1920w.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
}

.no-header {
    background-image: none;
    height: 15vh;
}

.header-welcome-info {
    text-align: center;
    color: white;
    padding-bottom: 1em;
}

.header-welcome-info p {
    margin: 0;
}

.header-welcome-info-btn {
    display: none;
    text-decoration: none;
    color: white;
}

.header-welcome-info-name {
    font-size: 2em;
    font-weight: 800;
}

.header-welcome-info-desc {
    font-weight: 300;
    font-size: 1.2em;
    padding: 0.2em 0 1em;
}

@media screen and (min-width: 850px) {

    header {
        height: 100vh;
    }

    .no-header {
        background-image: radial-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../media/pageheader-1920w.jpg);
        height: 18vh;
    }

    .header-welcome-info {
        padding-bottom: 5em;
    }

    .header-welcome-info-name {
        font-size: 6em;
    }

    .header-welcome-info-desc {
        font-size: 3.5em;
    }

    .header-welcome-info-btn {
        background-color: var(--orange);
        padding: 1em 2em;
        display: inline-flex;
        gap: 1em;
        align-items: center;
        font-weight: 600;
        font-size: 1.2em;
    }
}

/*==========================================*/




/* 
========================================== 
content wrapper
========================================== 
*/
.content-wrapper {
    display: grid;
    grid-auto-columns: 10% 80% 10%;
    justify-content: center;
    text-align: left;
    padding-top: 2em;
    grid-row-gap: 1em;
}

.content-wrapper-info {
    grid-column: 1/4;
    padding: 0 10%;
    justify-content: center;
    text-align: left;
}

.content-wrapper-info-h {
    font-weight: 700;
    font-size: 2em;
}

.content-wrapper-info-p {
    font-weight: 300;
    font-size: 1.15em;
}

.content-wrapper-combs {
    grid-column: 2/3;
    padding: 1em 0;
}

.content-wrapper-combs__img {
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 0 30px;
}

.content-wrapper-combes__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.content-wrapper-combs__header {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
}

.content-wrapper-combs__desc {
    font-size: 1em;
    line-height: 22px;
}

.content-wrapper-combs__btn {
    padding: 0.5em;
    width: 8em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB6C27FF' stroke-width='3' stroke-dasharray='15%2c 10' stroke-dashoffset='31' stroke-linecap='square'/%3e%3c/svg%3e");
}

.content-wrapper-infostoppper {
    background-image: radial-gradient(transparent, rgb(0, 0, 0, 0.6)), url(../media/background-CTAblock-4460w.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    color: var(--white);
    padding: 10%;
}

.content-wrapper-infostoppper__p {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 2em;
}

.content-wrapper-infostoppper__btn {
    background-color: var(--orange);
    font-weight: 700;
    padding: 1em 2em;
    font-size: 1.2em;
}

.content-wrapper-reference {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.content-wrapper-reference-item {
    text-align: center;
    text-decoration: none;
    color: black;
}

.content-wrapper-reference-item__img {
    width: 100%;
}

.content-wrapper-reference-item__header {
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em;
}

.content-wrapper-reference-item__p {
    font-weight: 400;
    font-size: 1em;
    margin: 0.5em 0 2em;
}

.content-wrapper__list {
    grid-column: 2/3;
    font-weight: 300;
    font-size: 1.15em;
    color: var(--orange);
    margin: 0;
    line-height: 2em;
    text-align: left;
    margin-left: -1em;
}

.content-wrapper__list span {
    color: black;
}

@media screen and (min-width: 850px) {

    .content-wrapper-info {
        padding: 0 10%;
        text-align: center;
    }

    .content-wrapper-info-h {
        font-size: 3em;
    }

    .content-wrapper-info-p {
        font-size: 1.5em;
    }

    .content-wrapper-combs {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .content-wrapper-combs:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }

    .content-wrapper-combs__header {
        text-transform: uppercase;
    }

    .content-wrapper-infostoppper {
        grid-column: 1/4;
        padding: 5% 10%;
    }

    .content-wrapper-infostoppper__p {
        font-size: 1.5em;
    }

    .content-wrapper-infostoppper__btn {
        padding: 1em 2em;
        font-size: 1.2em;
    }

    .content-wrapper-reference {
        grid-column: 2/3;
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .content-wrapper-reference-item {}

    .content-wrapper-reference-item:hover {}

    .content-wrapper-reference-item__header {
        display: none;
    }

    .content-wrapper-reference-item__header:hover {}

    .content-wrapper-reference-item__p {
        display: none;
    }

    .content-wrapper-reference-item__p:hover {}

    .content-wrapper__list {
        margin-left: 5em;
        font-size: 1.5em;
    }

    .content-wrapper-info-p-butno {
        text-align: left;
    }
}

/*==========================================*/



/* 
========================================== 
footer
========================================== 
*/
footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    padding: 2em 1em;
    margin: 4em 0 1.5em;
}

.ftr-1st-text {
    font-weight: 700;
    font-size: 1.5em;
    margin: 0;
}

.ftr-2nd-text {
    font-weight: 300;
    font-size: 1.3em;
    margin: 0;
}

.btn-ftr {
    background-color: var(--white);
    border: none;
    color: var(--orange);
    margin: 0;
    padding: 1.1em 2em;
    text-decoration: none;
}

@media screen and (min-width: 850px) {
    footer {
        padding: 2em 0;
    }

    .ftr-1st-text {
        font-size: 3em;
    }

    .ftr-2nd-text {
        font-size: 1.5em;
    }

    .btn-ftr {
        padding: 1em 2em;
    }
}

/*==========================================*/
