@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    font-family: 'Open Sans';
}

.orange {
    color: #EB6C27;
}

/* 
========================================== 
navbar
========================================== 
*/
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    left: 12vw;
    right: 12vw;
    top: 2em;
}

.topnav-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topnav .links {
    display: inline-flex;
}

.topnav .links a {
    text-align: center;
    color: #888888;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    font-weight: 500;
    font-size: 1em;
    line-height: 22px;
}

.topnav .icon {
    display: none;
}

.topnav .icon p {
    margin: 0;
}

@media screen and (max-width: 1050px) {
    .topnav .links a {
        font-size: 1.3vw;
    }
}

.topnav .links a.active {
    color: white;
    background-color: #eb6c27;
}

.topnav .lg {
    content: url(../media/logo.png);
    padding: 0.5em 0;
}

@media screen and (max-width: 850px) {
    .topnav {
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
    }

    .topnav-info {
        padding: 0.5em;
    }

    .topnav .links {
        flex-direction: column;
        background-color: #eb6c27;
        padding: 1em;
        display: none;
    }

    .topnav .links a {
        color: white;
        text-decoration: underline;
        font-size: 16px;
        padding: 1.5em;
    }

    .topnav .icon {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0.5em;
    }

    .topnav .lg {
        content: url(../media/logo.png);
        height: 3.2em;
    }
}


/*==========================================*/



/* 
========================================== 
header
========================================== 
*/
header {
    background-image: radial-gradient(transparent, rgb(0, 0, 0, 0.6)), url(../media/pageheader-1920w.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-welcome-info {
    text-align: center;
    color: white;
    padding-bottom: 5em;
}

.header-welcome-info p {
    margin: 0;
}

.header-welcome-info-name {
    font-weight: 800;
    font-size: 6em;
    line-height: 1em;
}

.header-welcome-info-desc {
    font-weight: 300;
    font-size: 3.5em;
    padding: 0.2em 0 1em;
}

.header-welcome-info-btn {
    background-color: #eb6c27;
    padding: 1em 2em;
    display: inline-flex;
    gap: 1em;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
}

@media screen and (max-width: 850px) {
    header {
        height: 50vh;
    }

    .header-welcome-info {
        padding-bottom: 1em;
    }

    .header-welcome-info-btn {
        display: none;
    }

    .header-welcome-info-name {
        font-weight: 800;
        font-size: 2em;
        line-height: 1em;
    }

    .header-welcome-info-desc {
        font-weight: 300;
        font-size: 1.2em;
        padding: 0.2em 0 1em;
    }
}

/*==========================================*/




/* 
========================================== 
content wrapper
========================================== 
*/
.content-wrapper {
    display: grid;
    grid-auto-columns: 8% 40% 4% 40% 8%;
    grid-auto-rows: 300px;
}

.content-wrapper-info {
    grid-column: 2/5;
    justify-content: center;
    text-align: center;
}

.content-wrapper-info-h {
    font-weight: 700;
    font-size: 3em;
}

.content-wrapper-info-p {
    font-weight: 300;
    font-size: 1.5em;
}

.content-wrapper-combs {
    grid-column: 2/5;
}

.content-wrapper-combs__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 2/3;
    border-radius: 0 30px;
}

.content-wrapper-combes__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 4/5;
}

.content-wrapper-combs__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}

.content-wrapper-combs__desc {
    font-size: 1em;
    line-height: 22px;
}

.content-wrapper-combs__btn {
    padding: 0.5em;
    width: 8em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB6C27FF' stroke-width='3' stroke-dasharray='15%2c 10' stroke-dashoffset='31' stroke-linecap='square'/%3e%3c/svg%3e");
}

@media screen and (max-width: 850px) {
    .content-wrapper {
        display: grid;
        grid-auto-columns: 10% 80% 10%;
        justify-content: center;
        text-align: left;
        padding-top: 2em;
    }

    .content-wrapper-info {
        grid-column: span 2;
    }

    .content-wrapper-info-h {
        font-weight: 700;
        font-size: 1.5em;
    }

    .content-wrapper-info-p {
        font-weight: 300;
        font-size: 1.15em;
    }
}

/*==========================================*/



/* 
========================================== 
footer
========================================== 
*/
footer {
    background-color: #eb6c27;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans';
    gap: 1.5em;
    padding: 2em 0;
}

.ftr-1st-text {
    font-weight: 700;
    font-size: 3em;
    margin: 0;
}

.ftr-2nd-text {
    font-weight: 300;
    font-size: 1.5em;
    margin: 0;
}

.btn-ftr {
    background-color: #FFFFFF;
    padding: 1em 2em;
    border: none;
    color: #eb6c27;
    margin: 0;
}

@media screen and (max-width: 850px) {
    footer {
        gap: 1.5em;
        padding: 2em 1em;
    }

    .ftr-1st-text {
        font-size: 1.5em;
        line-height: 1em;
        margin: 0;
    }

    .ftr-2nd-text {
        font-size: 1.3em;
        line-height: 1em;
        margin: 0;
    }

    .btn-ftr {
        padding: 1.1em 2em;
    }
}

/*==========================================*/
